<mat-toolbar color="primary" class="example-header">
  <mat-toolbar-row>
    <span>Header</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">menu</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav opened="false" mode="side" fixedInViewport>Start content</mat-sidenav>

  <mat-sidenav-content>
    <mat-grid-list cols="1" rowHeight="50%">
      <mat-grid-tile rov="1">
        <app-input-todo class="example-form"></app-input-todo>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-listtodos></app-listtodos>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-sidenav-content>

</mat-sidenav-container>

<mat-toolbar color="primary" class="example-footer">
  <mat-toolbar-row>
    <span>Footer</span>
  </mat-toolbar-row>
</mat-toolbar>
