.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-form {
  min-width: 150px;
  /* max-width: 500px; */
  /* width: 100%; */
  position: sticky;
  top: 4rem;
  z-index: 1;
  background-color: white;
}
