<header>
  <mat-toolbar color="primary" class="example-header">
    <mat-toolbar-row>
      <span>Header</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">menu</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<div class="container content">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <app-input-todo class="example-form" (newAddedItem)="onNewAddedItem($event)"></app-input-todo>
    </div>
    <div class="col-12"></div>
    <div class="col-md-6">
      <app-listtodos [todos]="todos" (todoStateChange)="onTodoStateChange($event)"></app-listtodos>
    </div>
  </div>
</div>

<footer>
  <mat-toolbar color="primary" class="example-footer">
    <mat-toolbar-row>
      <span>Footer</span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
