<form [formGroup]="todoItem" class="d-flex justify-content-between align-items-center">
  <mat-checkbox formControlName="isChecked" color="primary" class="text-wrap">
  </mat-checkbox>
  <p class="pl-3 mb-0 mr-auto">
    <mat-card-title-group class="pl-3 mb-0 mr-auto">
      <mat-card-title class="mb-0">
        {{todo.description}}
      </mat-card-title>
      <mat-card-subtitle *ngIf="todo.folder">
        {{todo.folder}}
      </mat-card-subtitle>
    </mat-card-title-group>
  </p>
  <button mat-icon-button (click)="onDeleteClick(todo)">
    <mat-icon>delete</mat-icon>
  </button>
</form>
